// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-image: url(../../public/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.temperature {
    float: left;
    font-size: x-large;
    font-weight: bold;
    margin-top: 45px;
}

.icon {
    display: inline-block;
    margin-left: 30px;
}